	
<div id="gameHolder">
	<div id="instructions" style="width:400px;height: 300px;border: dashed 2 #008b8b;text-align: center;">
		<h3 style="font-family:arial;">Game Instructions</h3>
		<p><strong>Click</strong> on the <span style="color:red">RED</span>  balloons as they fall from the sky </p>
		<p>Make sure you click them <span style="text-decoration:underline">all</span> before time runs out</p>
		<p>Rack up <i> as many points</i> as you can to reach the <span style="color:blue">BLUE</span> level </p>
		<h2 style="font-weight: bold;margin-top:30px">GOOD LUCK!</h2>
	</div>

	<canvas id="myCanvas" width="500" height="400" style="border: 1px solid black">
		Alternative Content
	</canvas>
</div>
